@charset "gbk";
/* CSS Document */

a.del:link,a.del:hover,a.del:visited,a.del:active{
    width:16px;
	height:16px;
	display:block;
	border:none;
	background-image:url(images/admin.png);
	background-position:0px -32px;	
}

a.yes:link,a.yes:hover,a.yes:visited,a.yes:active{
    width:16px;
	height:16px;
	display:block;
	border:none;
	background-image:url(images/admin.png);
	background-position:0px -16px;	
}

a.no:link,a.no:hover,a.no:visited,a.no:active{
    width:16px;
	height:16px;
	display:block;
	border:none;
	background-image:url(images/admin.png);
	background-position:0px px;	
}