@charset "utf-8";

body {
	margin: 0px;
	padding: 0px;
	background-color: #EEF2FB;
	font-size: 12px;
}
/*------------------------ topҳʽ */
#wtop {
	background-image: url(images/topbg.jpg);
	height: 60px;
}

#wtop div {
	height: 50px;
	float: left;
}

#wtop #center {
	padding-left: 20px;
	line-height: 55px;
	color: #FFF;
}

#wtop #right {
	float: right;
	padding-right: 10px;
	padding-top: 10px;
	height: 40px;
}

#wtop #right a:link,#wtop #right a:visited {
	width: 44px;
	height: 20px;
	border: none;
	background-image: url(images/button.gif);
	background-position: 0px 0px;
	display: block;
}

#wtop #right a:hover,#wtop #right a:active {
	width: 44px;
	height: 20px;
	border: none;
	background-image: url(images/button.gif);
	background-position: 0px 20px;
	display: block;
}

/*------------------------ leftҳʽ */
.mhead {
	font-size: 12px;
	font-weight: 800;
	display: block;
	width: 182px;
	color: #000;
	height: 30px;
	background-image: url(images/menu_bgs.gif);
	background-repeat: no-repeat;
	line-height: 30px;
	text-align: center;
	margin: 0 auto;
	padding: 0px;
	cursor: pointer;
}

.menu ul {
	width: 182px;
	margin: 0 auto;
	padding: 0px;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	clip: rect(0px, 0px, 0px, 0px);
}

.menu ul li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #333333;
	list-style-type: none;
	display: block;
	text-decoration: none;
	height: 26px;
	width: 182px;
	padding-left: 0px;
}

.menu a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #333333;
	background-image: url(images/menu_bg1.gif);
	background-repeat: no-repeat;
	height: 26px;
	width: 182px;
	display: block;
	text-align: center;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	text-decoration: none;
}

.menu a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #333333;
	background-image: url(images/menu_bg1.gif);
	background-repeat: no-repeat;
	display: block;
	text-align: center;
	margin: 0px;
	padding: 0px;
	height: 26px;
	width: 182px;
	text-decoration: none;
}

.menu a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #333333;
	background-image: url(images/menu_bg1.gif);
	background-repeat: no-repeat;
	height: 26px;
	width: 182px;
	display: block;
	text-align: center;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	text-decoration: none;
}

.menu a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	font-weight: bold;
	color: #006600;
	background-image: url(images/menu_bg2.gif);
	background-repeat: no-repeat;
	text-align: center;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 26px;
	width: 182px;
	text-decoration: none;
}

.menu img {
	display: block;
	margin: 0 auto;
	border: none;
}

.menubottom {
	background-image: url(images/menubottom.gif);
	width: 182px;
	height: 30px;
	margin: 0 auto;
	cursor: pointer;
	display: block;
}

/*----------------------- rightʽ  */
#itop {
	background-image: url(images/i2.jpg);
	width: auto;
	height: 29px;
}

#itop #itop_left {
	float: left;
	width: 3px;
	height: 29px;
	background-image: url(images/i1.jpg);
}

#itop #itop_right {
	float: right;
	width: 3px;
	height: 29px;
	background-image: url(images/i3.jpg);
}

#itop #itop_center {
	width: auto;
	float: left;
}

#itop #itop_center #cleft {
	position: relative;
	left: 15px;
	float: left;
	width: 6px;
	height: 29px;
	font-size: 0px;
	line-height: 0px;
	display: block;
	color: red;
	background-image: url(images/tleft.gif);
	float: left;
}

#itop #itop_center #ctitle {
	position: relative;
	left: 15px;
	float: left;
	width: auto;
	height: 29px;
	line-height: 39px;
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #000099;
	background-image: url(images/tcenter.gif);
    padding-left:10px;
    padding-right:10px;
	font-weight: bold;
}

#itop #itop_center #cright {
	position: relative;
	left: 15px;
	float: left;
	width: 6px;
	height: 29px;
	font-size: 0px;
	line-height: 0px;
	display: block;
	color: red;
	background-image: url(images/tright.gif);
}

#imiddle {
	width: auto;
	height: 100px;
}

#imiddle #imiddle_left {
	float: left;
	width: 3px;
	height: 100px;
	background-image: url(images/i4.jpg);
}

#imiddle #imiddle_center {
	float: left;
    width:99%;
	height: 100px;
	font-size: 12px;
}

#imiddle #imiddle_right {
	width: 3px;
	float: right;
	height: 100px;
	background-image: url(images/i5.jpg);
}

#ibottom {
	background-image: url(images/i7.jpg);
	width: auto;
	height: 9px;
	font-size: 0px;
	line-height: 0px;
}

#ibottom #ibottom_left {
	float: left;
	width: 3px;
	height: 9px;
	background-image: url(images/i6.jpg);
}

#ibottom #ibottom_center {
	
}

#ibottom #ibottom_right {
	float: right;
	width: 3px;
	height: 9px;
	background-image: url(images/i8.jpg);
}

/*--------------------------¼*/
#login_div {
	background-image: url(images/bg.jpg);
	position: absolute;
	width: 800px;
	height: 600px;
}

#login_logo {
	position: relative;
	left: 50px;
	top: 100px;
	background-image: url(images/logo.gif);
	background-repeat: no-repeat;
	background-position: center;
	width: 411px;
	height: 73px;
}

#login_main {
	position: relative;
	top: 160px;
	left: 100px;
	width: 350px;
	height: 200px;
	margin: 0 auto;
}

#login_main p {
	color: #555;
}

#uname,#pwd,#check {
	width: 15em;
	background-color: #fff;
	display: inline-block;
	border: 1px solid;
	border-color: #8cb7e1 #e3f0fc #e3f0fc #8cb7e1;
	font-size: 12px;
	vertical-align: middle;
	color: #666;
	padding: 4px 4px 5px 23px;
	background: #fff url(images/icon.gif) no-repeat;
	background-repeat: no-repeat;
	background-position: left -1px;
	font-size: 12px;
}

#pwd {
	background-position: left -50px;
}

#check {
	width: 8em;
	background-position: left -100px;
}

.s_btn {
	border:none;
	width: 95px;
	height: 32px;
	padding-top: 2px\9;
	font-size: 14px;
	background: #ddd url(images/btn.png);
	cursor: pointer
}
.s_btn_h {
	background-position: -100px 0
}
.s_btn_wr {
	width: 97px;
	height: 34px;
	display: inline-block;
	background:url(images/btn.png) no-repeat -202px 0;
*position:relative;
	z-index: 0;
	vertical-align: top
}


th{font-size:14px;padding:15px;background-color:#eeeeee;letter-spacing:2px}
tr{text-align:center;}
tr:hover{color:red;background-color:#F5F7D8;}
tr.even td{font-size:12px;padding:10px;background-color:#eee;}
tr.odd td{font-size:12px;padding:10px;background-color:#fff;}
.page{font-size:12px;height:30px;padding:0;clear:both;overflow:hidden;text-align:center;}
.page a{text-decoration:none;line-height:25px;padding:0px 10px;display:inline-block;margin-right:5px;border:solid 1px #c8c7c7;}
.page a:hover,.page a.checked{text-decoration:none;border:solid 1px #0086d6;background:#0091e3;color:#fff;}
.page a:visited,.page a:link{color:#333;}
.page a:active{color:#3B3B3B;}
